---
import { friend88x31List, other88x31List } from '../data/88x31'

const today = new Date();
---
<div class="pt-3 mt-3 footer">
  <div class="container center">
    <p class="py-0 my-0"><u>creatures i find cool</u></p>

    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      {friend88x31List.map(eeto => (
        <span>
          {eeto.url && <a href={eeto.url} target="_blank"><img src={eeto.image} alt={eeto.alt} loading="lazy"></a>}
          {!eeto.url && <img src={eeto.image} alt={eeto.alt} loading="lazy">}
        </span>
      ))}
    </div>
    
    <p class="py-0 my-0"><u>buttons</u></p>
    <div class="d-flex flex-row flex-wrap justify-content-center p-2 my-0 align-items-center">
      {other88x31List.map(eeto => (
        <span>
          {eeto.url && <a href={eeto.url} target="_blank"><img src={eeto.image} alt={eeto.alt} loading="lazy"></a>}
          {!eeto.url && <img src={eeto.image} alt={eeto.alt} loading="lazy">}
        </span>
      ))}
    </div>

    <p class="pt-2 pb-0 mb-0">
      <a href="https://fediring.net/previous?host=atomicmaya.me">←</a>&nbsp;
      <a href="https://fediring.net/">Fediring</a>&nbsp;
      <a href="https://fediring.net/next?host=atomicmaya.me">→</a>
    </p>      
  </div>
</div>

<footer class="py-4 mt-3 footer">
  <div class="container center">
    <a href="/copyright/">Copyright CC-BY-NC-SA</a> maya aka. Δ-551724 oka. AtomicMaya thru. 2020-{today.getFullYear()}<br/>
    (<a href="/privacy-policy/">Privacy Policy</a>)
  </div>
</footer>
<style> 
  footer, .footer {
    border-top: 1px dashed #b5e853;
  }

  img {
    padding: 2pt 4pt;
  }
</style>